<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eLearning</title>
  <link rel="stylesheet" href="elearning.css">
</head>
<body>
  <div class="bgimage">
  <div class="container">
    <h1>eLearning</h1>
    <form id="publishForm" method="post" action="/elearning" >
      <label for="college"><b>College Name:</b></label>
      <input type="text" id="college" name="college"><br>
      
      <label for="course"><b>Course:</b></label>
      <input type="text" id="course" name="course"><br>
      
      <label for="semester"><b>Semester:</b></label>
      <input type="text" id="semester" name="semester"><br>
      
      <label for="subject"><b>Subject:</b></label>
      <input type="text" id="subject" name="subject"><br>
      
      <label for="topic"><b>Topic:</b></label>
      <input type="text" id="topic" name="topic"><br>
      
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
