<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap 5.3 Card Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <style>
    /* Custom CSS for aligning center */
    .Center-align {
      justify-content: center;
    }
body{
    background-image: url("2305.w026.n002.3580B.p1.3580.jpg");
    background-size: cover;
  background-position: center;
    z-index:-1;

}
    /* Media query for screens less than 800px */
    @media (max-width: 800px) {
      .d-flex.flex-nowrap.Center-align {
        flex-wrap: wrap; /* Allow cards to wrap to a new line */
      }
      .card {
        width: calc(50% - 20px); /* Set card width to 50% of the container minus margins */
        margin: 10px; /* Add margin around cards */
      }
    }
    body {
  /* Add background image */
  background-image: url("background image events.jpg");
  /* Set background size and position */
  background-size: cover;
  background-position: center;
  z-index: -1;
}
    .card, .list-group-item{
        background-color: #018991;
    }
    .card-body{
        height: 8rem;
        align-items: center;
    }
    .card-title{
        text-align: center;
    }
    .list-group{
        margin-top: 4rem;
    }
  </style>
</head>


<body>

<div class="d-flex flex-nowrap Center-align">
    <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="odsc events.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">OSDC</h5>
            <p class="card-text">We are an Open Source Community based in and around Jaypee Institute of Information Technology, Noida, India.</p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item">Event: RIDE HACK'24</li>
            <li class="list-group-item">Date: 48 Hours 19-21 April</li>
            <li class="list-group-item">Venue: Auditorium JIIT-NOIDA</li>
        </ul>
        <div class="card-body">
            <a href="https://www.instagram.com/osdcjiit?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            class="card-link" style="height: 4rem;color: black; width: 4rem; align-items: center;"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://in.linkedin.com/company/osdcjiit" class="card-link" style="height: 4rem;color: black; width: 4rem;" ><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/p/JIIT-OSDC-100069227430783/?_rdr" class="card-link" style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-facebook"></i></a>
            
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="gdsc events.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">GDSC</h5>
            <p class="card-text">GDSC is a Google Developers program aimed for college students to help them build their mobile, web, machine learning, cloud skills, etc.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Event: BITBOX 4.0</li>
            <li class="list-group-item">Date: Saturday 16th March, 2024</li>
            <li class="list-group-item">Venue: Cl01 5:30 pm onwards</li>
        </ul>
        <div class="card-body">
            <a href="https://www.instagram.com/osdcjiit?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            class="card-link" style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://in.linkedin.com/company/gdscjiit" class="card-link"style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/gdscjiit/" class="card-link"style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="optica events.png" class="card-img-top" alt="..." style="height: 12.625rem;">
        <div class="card-body">
            <h5 class="card-title">Optica</h5>
            <p class="card-text">We are a team of closely knit individuals with a technical bend of mind.We are connected by our common vision towards optics and laser.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Event: Codehub</li>
            <li class="list-group-item">Date: 22nd November,2023</li>
            <li class="list-group-item">Venue: CL Labs 5-7 pm</li>
        </ul>
        <div class="card-body">
            <a href="https://www.instagram.com/jiitopticachapter?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                class="card-link"style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://in.linkedin.com/company/jiitopticachapter" class="card-link"style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/jiitopticachapter/" class="card-link"style="height: 4rem;color: black; width: 4rem;"><i class="fa-brands fa-facebook"></i></a>
           
        </div>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
