<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Context</title>
    <link rel="stylesheet" type="text/css" href ="profile.css">
</head>
<body>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item">
                <div class="user-details">
                    <div class="section">
                        <h3>display name:</h3><br>
                        <p id="display-name">user.name</p><br>
                        <h3 class="left-icon"><span class="symbol">&#9997;</span><br>Status<br></h3><br>
                        <h3 class="center-icon"><span class="symbol">&#128233;</span></h3><br>
                        <h3 class="right-icon"><span class="symbol">&#128222;</span></h3><br>
                        <h3 class="right-icon"><span class="symbol">&#128241;</span></h3><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <div class="section">
                    <h3>ABOUT ME</h3>
                    <p id="about-me"></p>
                </div>
            </div>
            <div class="grid-item">
                <div class="section">
                    <h3>ROLES</h3>
                    <p id="roles"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>